


*{
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
}

ul#list-nav {
  margin:20px;
  padding:0;
  list-style:none;
  width:900px;
  float: bottom;
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
 text-decoration:none;
 padding:5px 0;
 width:200px;
 background:#6699cc;
 color:#eee;
 float:left;
}

ul#list-nav li a:hover {
  background:#a2b3a1;
  color:#000
  text-align:center;
  border-left:1px solid #fff;
}

#header {
	display: block;
	text-align: center;
	background-color: #003366;
	padding: 0.5em;
	color: #ffff80;
}


#content {
	display: block;
	background-color: #ffff80;
	padding: 0.5em;
	padding-top: 4em;
	text-align: center;
}

#aside {
	display: block;
	background-color: #000000;
	color: white;
	padding: 0.5em;
}

#footer {
	display: block;
	background-color: #000000;
	color: #6699cc;
	padding: 0.5em;
}

#results {
	background-color: #ccffff;
}
